
@{
    ViewBag.Title = "CustomInfo";
}

<h2>CustomInfo</h2>

@ViewData["Message"]

<p>
    @Html.ActionLink("Ir a Home Page", "Index", "Home")<br />
</p>
<p>
    @Html.ActionLink("Ir a Solicitudes", "Index", "Solicitud") <br />
</p>
<p>
    @Html.ActionLink("Ir a Ordenes", "Index", "Orden")
</p>

