<div class="jumbotron">
    <h1>Open-Minded Global Sales</h1>
    <p class="lead">La empresa “Open Minded Software” presenta el proyecto “Open-Minded Global Sales” como una solución en línea CRM  con funcionalidad BI</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Ver más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Información General</h2>
        <p>
            La empresa “Open Minded Software” presenta el proyecto “Open-Minded Global Sales” implementando un modelo de comercio electrónico B2B (de negocio a negocio)
            , brindando soporte a la oferta de unidades (motos, cuatriciclos y UTV de alta gama)
            nuevas y usadas, repuestos, accesorios e indumentaria tanto para Clientes Individuales como Clientes Empresas.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Ver más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>DMS - Dealer Management System</h2>
        <p>El negocio consiste en un sistema de gestión DMS a medida, que contribuye al desarrollo exitoso asistiendo en la profesionalización de la conducción y la gestión. Enfoca en cómo la gerencia y sobre todo los dueños de las empresas familiares deben cambiar su perspectiva en esta época de crecimiento en la industria a nivel global.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Ver más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>CRM soporte DMS</h2>
        <p>Una buena herramienta para administrar la relación con el cliente es clave para retenerlos e incrementar ventas. Una combinación DMS y CRM es una poderosa herramienta que puede ayudar a superar una crisis.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Ver más &raquo;</a></p>
    </div>
</div>